.HomeLayout {
    margin: 0;
    padding: 0;
    display: flex; /* Usamos Flexbox para centrar verticalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Altura total de la ventana */
}

.HomeLayout .PageContent {
    max-width: 1200px;
    margin: auto auto;
    text-align: center;
    background-color: #e4e4e4fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.HomeLayout .PageContent .NextButton {
    text-align: center;
}
